@import url("msg.css");
@import url("bsod.css");

:root {
    --msgbox-width: 800px;
    --bg-color: #e0e2ea;
    --msg-color: #ba5e5e;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: url("/assets/images/bomb.png") center left repeat;
}
